<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Foster Buddy</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="noBgImg">
        <img class="quotePic" src="app/assets/images/fosteringQuote.jpg">
        <h2 class="redHeader">We are Foster Buddy team!! We help save furry lives!!</h2>
        <p class="aboutUsText paddingAbove paddingBelowAboutUs"> Often there is a need of fosters who are willing to provide shelter to these rescued animals till they get adopted.
            Longer fostering needs generally discourage fosters to come forward making it impossible for the rescue organizations to save other animals on death row.
            But sometimes these rescued animals may just need few days or few months
            of fostering. If you want to foster long term or short term, Foster Buddy helps you to find an animal according to your requirements.
            Imagine saving a furry life by just providing them shelter for few days/months. That's what we are talking about !! Rescue/Adopt/Foster !!


        <p>
        <div class="horAl">
            <img class="quotePicBottomm" src="app/assets/images/foster7.jpg">
            <img class="quotePicBottomm" src="app/assets/images/foster2.jpg">
            <img class="quotePicBottomm" src="app/assets/images/foster3.jpg">

        </div>

    </body>
</html>
